*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.card {
  /* place-self: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  height: 499px;
  text-align: center;
  border-radius: 20px;
}

.qr-image {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

.text {
  width: 288px;
}
